:root {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primaryBg: #282b38;
  --secondaryBg: #35394a;
  --primaryDivBg: #35394a;
  --secondaryDivBg: #282b38;
  --accentBg: #01cc8f;
  --primaryWhite: #fff;
  --secondaryWhite: #e5e5e5;
  --primaryFont: 'Poppins', sans-serif;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  place-items: center;
  transition: background-color 0.3s;
  background-color: var(--primaryBg);
  background-repeat: no-repeat;
}

/* * loading animation */
.pl,
.pl__worm {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.pl {
  animation-name: bump;
  animation-timing-function: linear;
  width: 8em;
  height: 8em;
}

.pl__ring {
  stroke: hsla(var(--hue), 10%, 10%, 0.1);
  transition: stroke 0.3s;
}

.pl__worm {
  animation-name: worm;
  animation-timing-function: cubic-bezier(0.42, 0.17, 0.75, 0.83);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }

  .pl__ring {
    stroke: hsla(var(--hue), 10%, 90%, 0.1);
  }
}

/* Animations */
@keyframes bump {

  from,
  42%,
  46%,
  51%,
  55%,
  59%,
  63%,
  67%,
  71%,
  74%,
  78%,
  81%,
  85%,
  88%,
  92%,
  to {
    transform: translate(0, 0);
  }

  44% {
    transform: translate(1.33%, 6.75%);
  }

  53% {
    transform: translate(-16.67%, -0.54%);
  }

  61% {
    transform: translate(3.66%, -2.46%);
  }

  69% {
    transform: translate(-0.59%, 15.27%);
  }

  76% {
    transform: translate(-1.92%, -4.68%);
  }

  83% {
    transform: translate(9.38%, 0.96%);
  }

  90% {
    transform: translate(-4.55%, 1.98%);
  }
}

@keyframes worm {
  from {
    stroke-dashoffset: 10;
  }

  25% {
    stroke-dashoffset: 295;
  }

  to {
    stroke-dashoffset: 1165;
  }
}

/* * loading animation end */

/* ~ Sidebar */
.sidebar_div {
  width: 25%;
  display: flex;
  justify-content: center;
  position: sticky;
}

.sidebar_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: var(--accentBg);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar_list h2 {
  text-align: center;
  margin: 20% auto;

  font-size: 2rem;
  font-weight: 600;
  font-family: var(--primaryFont);

  color: var(--primaryBg);
  margin-bottom: 6.5%;
}

.sidebar_list h2 a {
  color: white;
  text-decoration: none;
}

.sidebar_hidden_logo {
  display: none;
}

.sidebar_hidden_logo a {
  text-decoration: none;
  text-align: center;

  margin: 15% auto 5%;
  font-size: 2rem;
  font-weight: 600;

  color: var(--primaryWhite);
  font-family: var(--primaryFont);

}

.sidebar_list ul {
  margin: 40px 0 0 14px;
}

.sidebar_list li {
  display: flex;
  justify-content: start;
  align-items: center;

  /* width: 97%;
  height: 40px; */
  margin: 10px 0 0 8px;
  padding: 0 0 0 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;

  color: var(--primaryBg);
  background-color: var(--secondaryWhite);

  font-family: var(--primaryFont);
  font-size: 1rem;
  font-weight: 400;

  text-decoration: none;
  cursor: pointer;
}

.sidebar_list ul li:hover {
  color: var(--primaryWhite);
  background-color: gray;
  transition: 0.3s;
}

/* .sidebar_list ul li:active {
  color: var(--primaryWhite);
  background-color: var(--primaryBg);
  transition: 0.4s;
  outline: none;
} */

.side-link {
  display: flex;
  justify-content: start;
  align-items: center;

  width: 97%;
  height: 40px;
  margin: 0 0 0 8px;
  padding: 0 0 0 15px;

  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;

  font-size: 1.1rem;
  font-family: var(--primaryFont);
  color: var(--primaryBg);
  text-decoration: none;
}

.side-link:hover {
  color: var(--primaryWhite);
  background-color: var(--primaryBg);
  transition: 0.3s;
}

.side-link:active {
  color: var(--primaryWhite);
  background-color: var(--primaryBg);
}

.side-link img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* ? Sidebar-medi */
@media screen and (max-width: 1110px) {

  .sidebar_list h2 {
    display: none;
  }

  .sidebar_list img {
    display: flex;
    justify-content: end;
  }

  .sidebar_hidden_logo {
    display: flex;
  }

  .side-link p {
    display: none;
  }

  .sidebar_div {
    width: 20%;
  }
}





/* ~ Navbar */
.navbar {
  margin-bottom: 70px;
}

.navbar_list {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  color: #fff;
}

.navbar_list ul {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;

  margin: 0;
  padding: 0;

  width: 80%;
  background-color: var(--primaryBg);
  list-style-type: none;
  overflow: hidden;
}

.navbar_list li {
  display: flex;
  justify-content: start;
  align-items: center;

  margin: 20px 50px;
  padding: 0;

  font-family: var(--primaryFont);
  color: var(--secondaryWhite);
  font-size: 1rem;
  font-weight: 400;

  cursor: pointer;
}

.navbar_list li:nth-child(1) {
  margin-left: 0;
}

.navbar_list li:hover {
  color: var(--accentBg);
  transition: 0.3s;
}

.navbar_list li.active {
  color: var(--primaryWhite);
  background-color: var(--primaryBg);
  transition: 0.4s;
  outline: none;
}

.nav-link {
  color: var(--secondaryWhite);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--accentBg);
}


/* ~ App.js */
.app_div {
  display: flex;
}

.wrapper_landing {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--primaryBg);
}

/* ~ All Movies */
.return_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 0;
  margin-top: 7%;
  margin-bottom: 50px;
}

.return_div div a {
  text-decoration: none;
}

.all_movies_title {
  font-family: var(--primaryFont);
}

.return_div h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--accentBg);
  margin-bottom: 6.5%;
}

.return_div input {
  width: 80%;
  height: 50px;
  color: var(--accentBg);
  background-color: var(--primaryBg);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 0 0 30px 0;
  font-size: 18px;
}

.return_div input::placeholder {
  outline: none;
  font-family: var(--primaryFont);
  color: var(--accentBg);
}

.return_div input:focus {
  outline: none;
  border: 3px solid var(--primaryWhite);
}

.loading_text {
  color: #fff;
  margin: 5% 0;
}

.loading_animation {
  margin-bottom: 4%;
}

/* ~ Result - All Movies */
.return_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: px; */
}

.box {
  width: 220px;
  height: auto;
  margin: 1%;
  border-radius: 10px;
  background-color: var(--accentBg);
}

.box_content div {
  font-family: var(--primaryFont);
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.box_content .title {
  font-size: 1.1rem;
  font-weight: 700;
}

.img_div {
  width: 220px;
  height: 346px;
}

.img_div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.box_info {
  width: auto;
  height: auto;
}

.box_content div {
  margin: 10px;
}

/* ~ Main page */
.main_div {
  width: 100%;
  height: fit-content;
}

/* ~ Main => watch today */
.watch_today_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: auto;
  background-color: var(--primaryBg);
}

.watch_today_poster {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.watch_today_text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--primaryFont);
  color: var(--accentBg);
  font-size: 1.5rem;
  margin: 0 0 3% 0;
}

.watch_today_movies {
  width: 400px;
  height: auto;
  background-color: var(--accentBg);
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.wt_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 0 0;
}

.wt_wrapper:nth-child(1) {
  margin: 0 0 0 0;
}

.mp_wt_box {}

.mp_wt_box_content {
  font-family: var(--primaryFont);
  padding: 10px 10px;
}

.mp_wt_box_content .title {
  font-size: 1.3rem;
  font-weight: 700;
}

.mp_wt_img_div img {
  width: 100%;
  height: 100%;
}



/* ? Main => watch today-media */
@media screen and (max-width: 1110px) {
  .watch_today_wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 1310px) {}



/* ~ Main => most liked */
.most_liked_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.most_liked_poster {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

.most_liked_text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--primaryFont);
  color: var(--accentBg);
  font-size: 1.5rem;
  margin: 0 0 3% 0;
}

.most_liked_text a {
  text-decoration: none;
  color: var(--accentBg);
}

.most_liked_movies {
  width: 300px;
  height: auto;
  background-color: var(--accentBg);
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.ml_wrapper {
  margin: 0 0 0 0;
}

.ml_wrapper h2 {
  display: flex;
  justify-content: start;
  align-items: center;

  font-family: var(--primaryFont);
  color: var(--accentBg);
  font-size: 1.5rem;
  padding: 3% 0 3% 3%;
}

.mp_ml_box_content {
  color: var(--secondaryBg);
  font-family: var(--primaryFont);
  padding: 10px 10px;
}

.mp_ml_box_content .title {
  font-size: 1.3rem;
  font-weight: 700;
}

.mp_ml_poster_wrapper .mp_ml_poster {
  margin: 0 0 0 2%;
}

.mp_ml_poster_wrapper .mp_ml_poster:nth-child(1) {
  margin: 0 0 0 0;
}

.mp_ml_img_div {}

.mp_ml_img_div img {
  width: 100%;
  height: auto;
}

/* ? Main => most liked */
@media screen and (max-width: 800px) {
  .most_liked_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .most_liked_movies {
    width: 400px
  }
}

/* ~ Most Liked page */
.ml_page_wrapper {}

.ml_main_title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--primaryFont);
  color: var(--accentBg);
  font-size: 1.5rem;
  margin: 0 0 3% 0;
}

/* .ml_poster_right {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 30px 30px;
  padding: 30px 0;
  border-top: 1px solid var(--accentBg);
  border-bottom: 1px solid var(--accentBg);
} */

.ml_poster_left {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 30px 30px;
  padding: 30px 0;
  border-top: 1px solid var(--accentBg);
  border-bottom: 1px solid var(--accentBg);
  /* flex-direction: column; */
}

.ml_poster_text_right {
  display: flex;
  margin: 0 40px 0 0;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}

.ml_poster_text_left {
  display: flex;
  margin: 0 0 0 40px;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: end;
  flex-direction: column;
}

.ml_p_title {
  font-family: var(--primaryFont);
  color: var(--accentBg);
  font-size: 1.3rem;
  margin: 0 0 3% 0;

}

.ml_p_rating {
  font-family: var(--primaryFont);
  color: var(--secondaryWhite);
  font-size: 1rem;
  margin: 0 0 3% 0;
}

.ml_p_overview {
  font-family: var(--primaryFont);
  color: var(--secondaryWhite);
  font-size: 1rem;
  margin: 0 0 3% 0;
}

/* ~ most liked page poster css */

/* ~ */
.ml_page_poster_right,
.ml_page_poster_left {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 30px 30px;
  padding: 30px 0;
  border-top: 1px solid var(--accentBg);
  border-bottom: 1px solid var(--accentBg);
}

.ml_page_box_right,
.ml_page_box_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml_page_box_info_right,
.ml_page_box_info_left {
  width: fit-content;
  margin: 0 30px 0 0;
}

/* ~ */
.ml_page_box_content_left {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  margin: 0 0 0 30px;
}

/* ~ */

.ml_page_box_content_right .title,
.ml_page_box_content_left .title {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--primaryFont);
  color: var(--accentBg);

  padding: 40px 0 60px 0;
}

.ml_page_box_content_right .rating,
.ml_page_box_content_left .rating {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--primaryFont);
  color: var(--secondaryWhite);

  padding: 0 0 30px 0;
}

.ml_page_box_content_right .relDate,
.ml_page_box_content_left .relDate {
  padding: 0 0 60px 0;

  font-size: 1rem;
  font-weight: 700;
  font-family: var(--primaryFont);
  color: var(--secondaryWhite);
}

.ml_page_box_content_right .overview,
.ml_page_box_content_left .overview {
  padding: 0 0 70px 0;

  font-size: 1rem;
  font-weight: 700;
  font-family: var(--primaryFont);
  color: var(--secondaryWhite);
}

/* img */
.ml_page_img_div_right,
.ml_page_img_div_left {
  width: 400px;
  height: 450px;
}

.ml_page_img_div_right img,
.ml_page_img_div_left img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1110px) {

  .ml_page_box_right,
  .ml_page_box_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

}



/* ~ Contact us */
.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;

  background-color: var(--secondaryBg);
}

.contact__container__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 35%;
  height: 100%;
}

.contact__container__left__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-family: var(--primaryFont);
  color: var(--accentBg);
  margin: 80px;

  width: 100%;
  height: 20%;
}

.contact__container__left__logo a {
  color: var(--accentBg);
  text-decoration: none;
}

.contact__container__left__text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-family: var(--primaryFont);
  color: var(--accentBg);

  width: 100%;
  height: 20%;
}

.contact__container__left__text a {
  color: var(--accentBg);
  text-decoration: none;
}

.contact__container__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0 0 0 80px;
  height: 100%;
}

.contact__container__right__text {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  font-family: var(--primaryFont);
  color: var(--primaryWhite);
}

.contact__container__right__text h2 {
  margin-top: 60px;
}

.contact__container__right__text h2 a {
  color: var(--accentBg);
}

.contact__container__right__text h2 a:nth-child(2) {
  text-decoration: none;
}

@media screen and (max-width: 1110px) {
  .contact__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* height: 200%; */
  }

  .contact__container__left {
    width: 60%;
  }

  .contact__container__right {

    margin: 0 0 0 0;
  }

  .contact__container__left__logo {
    font-size: 1.5rem;
  }

  .contact__container__left__text {
    font-size: 1.5rem;
  }

  .contact__container__right__text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .contact__container__left {
    width: 80%;
  }

  .contact__container__left__logo {
    font-size: 1.2rem;
  }

  .contact__container__left__text {
    font-size: 1.2rem;
  }

  .contact__container__right__text {
    font-size: 0.8rem;
  }
}



/* ~ Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  align-self: flex-end;
  background-color: var(--secondaryBg);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  width: 100%;
  height: 70px;

  background-color: var(--secondaryBg);
}

.footer__container__left {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--primaryFont);
  color: var(--primaryWhite);
  font-size: 1.2rem;
}

.footer__container__left__logo a {
  color: var(--accentBg);
  text-decoration: none;
}

.footer__container__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container__right__contact a {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primaryWhite);
  text-decoration: none;
  margin: 0 30px 0 0;

  font-family: var(--primaryFont);
  font-size: 1rem;
}

.footer__container__right__text p {
  color: var(--primaryWhite);
  font-family: var(--primaryFont);
  font-size: 0.8rem;
}